#map {
    background: grey;
}
.country {
    /* fill: #cccccc; */
    stroke: black;
    stroke-width: 0.5;
    position: fixed;
    z-index:1;
}

.legendWrapper{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 300;
}