body{
    background-color: white;
}

svg {
    margin: 1% 3%;
    padding: 1% ;
}

.bubbles {
    stroke-width: 1px;
    stroke: white;
}

.bubbles:hover {
    stroke: black;
}

div.tooltip {
    position: absolute;	
    text-align: left;	
    width: 150px;	
    height: 50px;		
    font: 12px sans-serif;	
    background: lightsteelblue;	
    border: 0px;					
    border-radius: 8px; 
    vertical-align: 50%;  
}

.selector {
    display: inline-block;
    width: 200px;
    height: 100px;
    margin-left: auto;
  }